@model StudentManagementSystem_Rukaiya.Models.ClassroomMaterialView

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClassroomMaterialView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClassroomMaterialViewId" />
            <div class="form-group">
                <label asp-for="MaterialId" class="control-label"></label>
                <input asp-for="MaterialId" class="form-control" />
                <span asp-validation-for="MaterialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViewDate" class="control-label"></label>
                <input asp-for="ViewDate" class="form-control" />
                <span asp-validation-for="ViewDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
